#animals-wrapper {
  background-color: #45062E;
}

#animals-mobile-nav {
  @include mobilenav;
  background-color: #88A09E;
  a {
    color: #45062E;
  }
}

#animals-nav {
  @include nav;
  background-color: #45062E;
  a {
    color: #88A09E;
    &:hover {
      color: black;
    }
  }
}

#animals-header {
  @include artist-header;
  color: #88A09E;
}

#animals-content {
  @include content;
  color: #88A09E;
}
