#bazan-wrapper {
  background-color: $dark-sienna;
}

#bazan-mobile-nav {
  @include mobilenav;
  background-color: $green-sheen;
  a {
    color: $dark-sienna;
  }
}

#bazan-nav {
  @include nav;
  background-color: $dark-sienna;
  a {
    color: $green-sheen;
    &:hover {
      color: black;
    }
  }
}

#bazan-header {
  @include artist-header;
  color: $green-sheen;
}

#bazan-content {
  @include content;
  color: $green-sheen;
}
