#caroline-wrapper {
  background-color: $rich-black-fogra39;
}

#caroline-mobile-nav {
  @include mobilenav;
  background-color: $silver;
  a {
    color: $pansy-purple;
  }
}

#caroline-nav {
  @include nav;
  background-color: $rich-black-fogra39;
  a {
    color: $silver;
    &:hover {
      color: black;
    }
  }
}

#caroline-header {
  @include artist-header;
  color: $silver;
}

#caroline-content {
  @include content;
  color: $silver;
  a {
    color: $teal-blue;
    &:hover {
      color: black;
    }
  }
}
