#chloe-wrapper {
  background-color: $space-cadet;
}

#chloe-mobile-nav {
  @include mobilenav;
  background-color: $anti-flash-white;
  a {
    color: $space-cadet;
  }
}

#chloe-nav {
  @include nav;
  background-color: $space-cadet;
  a {
    color: $anti-flash-white;
    &:hover {
      color: black;
    }
  }
}

#chloe-header {
  @include artist-header;
  color: $anti-flash-white;
  #what {
    @include long-song;
  }
}

#chloe-content {
  @include content;
  color: $anti-flash-white;
  a {
    color: $teal-blue;
    &:hover {
      color: black;
    }
  }
}
