#elida-wrapper {
  background-color: $dark-sea-green;
}

#elida-mobile-nav {
  @include mobilenav;
  background-color: $black-shadows;
  a {
    color: wine;
  }
}

#elida-nav {
  @include nav;
  background-color: $dark-sea-green;
  a {
    color: $black-olive;
    &:hover {
      color: black;
    }
  }
}

#elida-header {
  @include artist-header;
  color: $black-olive;
}

#elida-content {
  @include content;
  color: $black-olive;
  .elji {
  @include feat-artist;
  }
}
