#hania-wrapper {
  background-color: #333232;
}

#hania-mobile-nav {
  @include mobilenav;
  background-color: $lavender-blue;
  a {
    color: $dark-purple;
  }
}

#hania-nav {
  @include nav;
  background-color: #333232;
  a {
    color: #C8BFC2;
    &:hover {
      color: black;
    }
  }
}

#hania-header {
  @include artist-header;
  color: #C8BFC2;
}

#hania-content {
  @include content;
  color: #C8BFC2;
  // padding-bottom: 10em;
  img {
    @include artist-img;
    width: 45vw;
  }
}
