body {
  background-color: black;
}

#wrapper {
  background-color: #241E4E;
  padding-bottom: 10em;
}

.sidenav {
  @include mobilenav;
  background-color: $boysenberry;
  a {
    color: $isabelline;
  }
}

#home-nav {
  @include nav;
  background-color: #241E4E;
  a {
    color: #960200;
    &:hover {
      color: $pictorial-carmine;
    }
  }
}

.header {
  color: $isabelline;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: auto;
  padding: 0 14em 0 14em;
  h1 {
    margin-bottom: .6em;
    font-family: 'Dosis', sans-serif;
    text-shadow: 2px 2px 2px #960200;
    font-weight: 300;
    font-size: 4.3em;
  }
  a {
    color: #FFD046;
    text-decoration: none;
    font-weight: bold;
    &:hover {
      color: #CE6C47;
    }
  }
  @media screen and (max-width: 525px) {
    padding: 1em 2em 0;
    font-size: 1.2em;
  }
  .hamburger {
    align-self: flex-start;
    color: white;
    margin: 1em .7em 2em;
    font-size: 3em;
    cursor: pointer;
    @media screen and (min-width: 525px) {
      display: none;
      height: 0;
      width: 0;
    }
  }
}

.gallery {
  display: flex;
  flex-direction: column;
  margin-top: 4em;
  .row {
    display: flex;
    justify-content: center;
    width: 100%;
    @media only screen and (max-width: 625px) {
      flex-direction: column;
      align-items: center;
    }
    .image {
      a {
        text-decoration: none;
      }
      background-color: $bittersweet;
      height: 20em;
      width: 22em;
      @media screen and (max-width: 1023px) {
        width: 27em;
      }
      @media screen and (min-width: 2300px) {
        width: 25em;
      }
      @media screen and (max-width: 1022px) {
        width: 23em;
      }
      @media only screen and (max-width: 625px) {
        width: 75%;
      }
      @media only screen and (max-width: 1029px) {
        a {
          height: 100%;
          width: 100%;
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
        }
      }
      border: .063em solid white;
      p {
        padding: 0 3em 2em 0;
        font-family: 'Dosis', sans-serif;
        font-weight: 300;
        text-shadow: 0 0 1px black;
        color: white;

        @media screen and (min-width: 1030px) {
          padding: 0;
          opacity: 0;
          color: white;
          transition: .2s;
          text-shadow: 0 0 1px black;
          position: relative;
          z-index: 2;
          text-transform: uppercase;
          margin: 0;
          text-align: center;
          line-height: 20em;
          &:hover {
            opacity: 1;
          }
          &:after, &:before {
            z-index: -1;
            transition: .2s;
            content: "";
            background-size: cover;
            background-position: center;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.6);
          }
        }
      }
    }
    #hania {
      background-image: url('../img/hania-dobrawa.png');
      background-position: 40% 0%;
      background-size: cover;
    //   @media screen and (max-width: 525px) {
    //     background-position: 0% 10%;
    //   }
    }
    #osterreich {
      background-image: url('../img/高橋國光.png');
      background-position: center;
      background-size: cover;
    }
    #oklou {
      background-image: url('../img/oklou_nails.png');
      background-position: 0% 0%;
      background-size: cover;
    //   @media screen and (max-width: 1029px) {
    //     p {
    //       text-shadow: -.75px 0 .75px black, 0 .75px .75px black, .75px 0 .75px black, 0 -.75px .75px black;
    //     }
    //   }
    //   @media screen and (max-width: 525px) {
    //     background-position: 0% 8%;
    //   }
    }
    #moses {
      background-image: url('../img/moses_stairs.png');
      background-position: center;
      background-size: cover;
    //   @media screen and (max-width: 525px) {
    //     background-position: 0% 25%;
    //   }
    }
    #chloe {
      background-image: url('../img/chloe.png');
    //   background-position: 0 10%;
      background-size: cover;
    //   @media screen and (max-width: 1029px) {
    //     p {
    //       text-shadow: -.75px 0 .75px black, 0 .75px .75px black, .75px 0 .75px black, 0 -.75px .75px black;
    //     }
    //   }
    //   @media screen and (max-width: 525px) {
    //     background-position: 10% 0%;
    //   }
    }
    #animals {
      background-image: url('../img/animals-as-leaders.png');
      background-position: 35% 0%;
      background-size: cover;
    //   @media screen and (max-width: 525px) {
    //     background-position: 0% 8%;
    //     p {
    //       padding-right: 1em;
    //     }
    //   }
    }
    #porches {
      background-image: url('../img/porches.png');
      background-position: center;
      background-size: cover;
    //   @media screen and (max-width: 1029px) {
    //     p {
    //       text-shadow: -1px 0 1px black, 0 1px 1px black, 1px 0 1px black, 0 -1px 1px black;
    //     }
    //   }
    //   @media screen and (max-width: 525px) {
    //     background-position: 0% 20%;
    //   }
    }
    #number1 {
      background-image: url('../img/number1popstar.png');
      background-position: center;
      background-size: cover;
    // //   @media screen and (max-width: 1029px) {
    // //     p {
    // //       text-shadow: -.75px 0 .75px black, 0 .75px .75px black, .75px 0 .75px black, 0 -.75px .75px black;
    // //     }
    // //   }
    // //   @media screen and (max-width: 525px) {
    // //     background-position: 0% 10%;
    // //   }
    }
    #ferg {
      background-image: url('../img/ferg2.png');
      background-position: center;
      background-size: cover;
    //   @media screen and (max-width: 525px) {
    //     background-position: 0% 35%;
    //   }
    }
    #weirdal {
      background-image: url('../img/weirdal2.png');
      background-position: 35% 0%;
      background-size: cover;
    //
    //   @media screen and (max-width: 1029px) {
    //     p {
    //       padding-right: .4em;
    //       text-shadow: -.75px 0 .75px black, 0 .75px .75px black, .75px 0 .75px black, 0 -.75px .75px black;
    //     }
    //   }
    //   @media screen and (max-width: 525px) {
    //     background-position: 0% 10%;
    //   }
    }
    #sodycave {
      background-image: url('../img/sodycave.png');
      background-position: 0% 0%;
      background-size: cover;
    //   @media screen and (max-width: 1029px) {
    //     p {
    //       text-shadow: -.75px 0 .75px black, 0 .75px .75px black, .75px 0 .75px black, 0 -.75px .75px black;
    //     }
    //   }
    }
    #zappa {
      background-image: url('../img/zappa.png');
      background-position: center;
      background-size: cover;
    //   @media screen and (max-width: 1029px) {
    //     p {
    //       text-shadow: -.75px 0 .75px black, 0 .75px .75px black, .75px 0 .75px black, 0 -.75px .75px black;
    //     }
    //   }
    //   @media screen and (max-width: 525px) {
    //     background-position: 0% 70%;
    //   }
    }
    #rodwave {
      background-image: url('../img/rodwave.png');
      background-position: center;
      background-size: cover;
    //   @media screen and (max-width: 1029px) {
    //     p {
    //       text-shadow: -.75px 0 .75px black, 0 .75px .75px black, .75px 0 .75px black, 0 -.75px .75px black;
    //     }
    //   }
    //   @media screen and (max-width: 525px) {
    //     background-position: 0% 15%;
    //     p {
    //       padding-right: 1em;
    //     }
    //   }
    }
    #daftpunk {
      background-image: url('../img/daftpunk.png');
      background-position: center;
      background-size: cover;
    //   @media screen and (max-width: 1029px) {
    //     p {
    //       text-shadow: -.75px 0 .75px black, 0 .75px .75px black, .75px 0 .75px black, 0 -.75px .75px black;
    //     }
    //   }
    //   @media screen and (max-width: 525px) {
    //     background-position: 0% 15%;
    //   }
    }
    #max {
      background-image: url('../img/max.png');
      background-position: center;
      background-size: cover;
    //   @media screen and (max-width: 525px) {
    //     background-position: 0% 75%;
    //   }
    }
  }
}
