#husker-wrapper {
  background-color: $persian-plum;
}

#husker-mobile-nav {
  @include mobilenav;
  background-color: $almond;
  a {
    color: $steel-blue;
  }
}

#husker-nav {
  @include nav;
  background-color: $persian-plum;
  a {
    color: $almond;
    &:hover {
      color: black;
    }
  }
}

#husker-header {
  @include artist-header;
  color: $almond;
}

#husker-content {
  @include content;
  color: $almond;
}
