#husker-wrapper {
  background-color: $steel-blue;
}

#husker-mobile-nav {
  @include mobilenav;
  background-color: white;
  a {
    color: $steel-blue;
  }
}

#husker-nav {
  @include nav;
  background-color: $steel-blue;
  a {
    color: white;
    &:hover {
      color: black;
    }
  }
}

#husker-header {
  @include artist-header;
  color: white;
  .song {
    @include long-song;
  }
}

#husker-content {
  @include content;
  color: white;
}
