#lana-wrapper {
  background-color: $maastricht-blue;
}

#lana-mobile-nav {
  @include mobilenav;
  background-color: $teal-blue;
  a {
    color: $maastricht-blue;
  }
}

#lana-nav {
  @include nav;
  background-color: $maastricht-blue;
  a {
    color: $teal-blue;
    &:hover {
      color: black;
    }
  }
}

#lana-header {
  @include artist-header;
  color: $teal-blue;
  #hope {
    @include long-song;
  }
}

#lana-content {
  @include content;
  color: $teal-blue;
}
