#maalem-wrapper {
  background-color: $dark-purple;
}

#maalem-mobile-nav {
  @include mobilenav;
  background-color: $lavender-blue;
  a {
    color: $dark-purple;
  }
}

#maalem-nav {
  @include nav;
  background-color: $dark-purple;
  a {
    color: $lavender-blue;
    &:hover {
      color: black;
    }
  }
}

#maalem-header {
  @include artist-header;
  color: $lavender-blue;
}

#maalem-content {
  @include content;
  color: $lavender-blue;
  // padding-bottom: 10em;
  img {
    @include artist-img;
    width: 25vw;
  }
}
