#midnight-wrapper {
  background-color: $dark-jungle-green;
}

#midnight-mobile-nav {
  @include mobilenav;
  background-color: $pale-lavender;
  a {
    color: $dark-jungle-green;
  }
}

#midnight-nav {
  @include nav;
  background-color: $dark-jungle-green;
  a {
    color: $languid-lavender;
    &:hover {
      color: black;
    }
  }
}

#midnight-header {
  @include artist-header;
  color: $languid-lavender;
}

#midnight-content {
  @include content;
  color: $languid-lavender;
}
