#moses-wrapper {
  background-color: #CEB992;
}

#moses-mobile-nav {
  @include mobilenav;
  background-color: white;
  a {
    color: #CEB992;
  }
}

#moses-nav {
  @include nav;
  background-color: #CEB992;
  a {
    color: #4D7C8A;
    &:hover {
      color: black;
    }
  }
}

#moses-header {
  @include artist-header;
  color: #4D7C8A;
}

#moses-content {
  @include content;
  color: #4D7C8A;
  .sam {
  @include feat-artist;
  }
}
