#moses-wrapper {
  background-color: black;
}

#moses-mobile-nav {
  @include mobilenav;
  background-color: white;
  a {
    color: black;
  }
}

#moses-nav {
  @include nav;
  background-color: black;
  a {
    color: #4D7C8A;
    &:hover {
      color: black;
    }
  }
}

#moses-header {
  @include artist-header;
  @media only screen and (max-width: 625px) {
      text-align: center;
  }
  color: #4D7C8A;
}

#moses-content {
  @include content;
  color: #4D7C8A;
  .sam {
  @include feat-artist;
  }
}
