 #nubya-wrapper {
  background-color: #8C2155;
}

#nubya-mobile-nav {
  @include mobilenav;
  background-color: $soap;
  a {
    color: $rose-ebony;
  }
}

#nubya-nav {
  @include nav;
  background-color: #8C2155;
  a {
    color: #628395;
    &:hover {
      color: black;
    }
  }
}

#nubya-header {
  @include artist-header;
  color: #628395;
}

#nubya-content {
  @include content;
  color: #628395;
}
