#number1-wrapper {
  background-color: $rich-black-fogra39;
}

#number1-mobile-nav {
  @include mobilenav;
  background-color: $silver;
  a {
    color: $rich-black-fogra39;
  }
}

#number1-nav {
  @include nav;
  background-color: $rich-black-fogra39;
  a {
    color: $silver;
    &:hover {
      color: black;
    }
  }
}

#number1-header {
  @include artist-header;
  color: $silver;
}

#number1-content {
  @include content;
  color: $silver;
  a {
    color: $teal-blue;
    &:hover {
      color: black;
    }
  }
}
