#rush2-wrapper {
  background-color: black;
}

#rush2-mobile-nav {
  @include mobilenav;
  background-color: $silver-sand;
  a {
    color: black;
  }
}

#rush2-nav {
  @include nav;
  background-color: black;
  a {
    color: $silver-sand;
    &:hover {
      color: black;
    }
  }
}

#rush2-header {
  @include artist-header;
  color: $silver-sand;
}

#rush2-content {
  @include content;
  color: $silver-sand;
}
