#trane-wrapper {
  background-color: $arsenic;
}

#trane-mobile-nav {
  @include mobilenav;
  background-color: $honeydew;
  a {
    color: $arsenic;
  }
}

#trane-nav {
  @include nav;
  background-color: $arsenic;
  a {
    color: $honeydew;
    &:hover {
      color: black;
    }
  }
}

#trane-header {
  @include artist-header;
  color: #F3EEE7;
}

#trane-content {
  @include content;
  color: #F3EEE7;
  #quartet {
    @include feat-artist;
    width: 25vw;
    @media screen and (max-width: 600px) {
      display: flex;
      margin: 2em 0 2em;
      width: 70%;
      float: none;
    }
  }
  #quartet_live {
    @include feat-artist;
    float: left;
    margin: .5em 1.2em .5em 0;
  }
}
