#sophie-wrapper {
  background-color: $space-cadet;
}

#sophie-mobile-nav {
  @include mobilenav;
  background-color: $anti-flash-white;
  a {
    color: $space-cadet;
  }
}

#sophie-nav {
  @include nav;
  background-color: $space-cadet;
  a {
    color: $anti-flash-white;
    &:hover {
      color: black;
    }
  }
}

#sophie-header {
  @include artist-header;
  color: $anti-flash-white;
}

#sophie-content {
  @include content;
  color: $anti-flash-white;
  a {
    color: $teal-blue;
    &:hover {
      color: black;
    }
  }
}
