//Variables//

//margins//
$a-header: 3.5em 2em 3em 3em;
$content: 0 3em 0em 3em;
$mobile-content: 0 1.5em 0 1.5em;

//colors//
$queen-blue: #477998;
$rich-black: #030726;
$purple-taupe: #45364B;
$isabelline: #F3E8EE;
$phthalo-green: #122C34;
$boysenberry: #893168;
$russian-violet: #4A1942;
$gunmetal: #273043;
$honeydew: #EFF6EE;
$steel-blue: #2E86AB;
$raspberry-glace: #845A6D;
$pale-lavender: #E2CFEA;
$medium-jungle-green: #1E3231;
$snow: #FCFAFA;
$space-cadet: #1B264F;
$anti-flash-white: #EEF2F2;
$jet: #353535;
$pewter-blue: #93B7BE;
$rose-ebony: #60463B;
$soap: #CCC9E7;
$pansy-purple: #70163C;
$silver: #BFC3BA;
$arsenic: #39304A;
$maastricht-blue: #031926;
$teal-blue: #468189;
$cardinal: #C52233;
$wine: #6A3937;
$black-shadows: #BFB5AF;
$iguana-green: #79B473;
$pictorial-carmine: #CA054D;
$melon: #FCB0B3;
$dark-sienna: #3C1518;
$green-sheen: #7DAA92;
$silver-sand: #C5C5C5;
